body {
    background-color: green;
}

.grid-container {
    background-color: orange;
}

.box {
    background-color: red;
    width: 10px;
    height: 10px;
}

.row {
    background-color: blue;
    height: 20px;
    width: 80%;
}